/*******COLORS********/

/**primary**/

$primary-lime: hsl(61, 70%, 52%);

/**Neutral**/
$neutral-slate-900: hsl(202, 55%, 16%);
$neutral-slate-700: hsl(200, 24%, 40%);
$neutral-slate-500: hsl(200, 26%, 54%);
$neutral-slate-300: hsl(203, 41%, 72%);
$neutral-slate-100: hsl(202, 86%, 94%);

/*font-size*/
$f-normal: 16px;
$f-large: 40px;

/*font-weight*/
$fw-light: 300;
$fw-light-1: 400;
$fw-medium: 600;
$fw-heavy: 700;

/*Media queries*/
$tablet: 768px;
$large: 1024px;
$desktop: 1280px;

$ff-Josefin-Sans: "Josefin Sans", sans-serif;
